.padding {
	height: 20px;
}

button {
	background: #00CCCC !important;
	color: #FFF !important;
	border-color: #00CCCC !important;
}

#button:hover {
	background: #00CCCC;
}

[name="page"] {
	padding: 10px;	
}

 body {
    padding-top: 50px;
}

#matrix_col {
	text-align: right;
	border-radius: 10px;
	padding-right: 5px;
}

#vector_col {
	text-align: left;
	padding-left: 5px;
}

#matrix_col, #vector_col {
	border-radius: 10px !important;
	
}